<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h1 class="h4 mb-0"><%= t('.title') %></h1>
      </div>
      <div class="card-body">
        <%# バリデーションエラーの表示エリア %>
        <% if @event.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with(model: @event, local: true) do |form| %>
          <%= form.hidden_field :start_time %>
          <div class="mb-3">
            <%= form.label :content, class: 'form-label' %>
            <%= form.text_area :content, class: 'form-control', rows: 5 %>
          </div>
          <div class="d-flex align-items-center gap-3">
            <%= form.submit t('common.regist'), class: 'btn btn-primary' %>
            <%= link_to t('common.back'), root_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>