 <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>個人設定</h4>
        </div>
        <div class="card-body">
          <%= form_with model: @user, url: setting_path, method: :patch do |f| %>
            <div class="mb-3">
              <%= f.label :name, "名前", class: "form-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :good_new_character_limit, "Good&Newの文字数上限", class: "form-label" %>
              <%= f.number_field :good_new_character_limit, class: "form-control" %>
              <div class="form-text">
                Good&Newの入力文字数の上限を設定します。
              </div>
            </div>

            <div class="mb-3">
              <%= f.label :copy_format, "コピー内容のフォーマット", class: "form-label" %>
              <%= f.text_area :copy_format, class: "form-control", rows: 5, placeholder: "今日のGood&Newは、\n{Good&New}\n\n目標は、\n{目標}" %>
              <div class="form-text">
                <code>{Good&New}</code>と<code>{目標}</code>が、それぞれGood&Newの内容と目標に置き換えられます。
              </div>
            </div>
            <div class="d-grid">
              <%= f.submit "更新", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
