<%= form_with(model: goal, local: true) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :start_time %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="d-flex align-items-center gap-3">
    <%= form.submit '目標を設定する', class: 'btn btn-primary' %>
    <%= link_to t('common.back'), entry_path(goal.start_time.to_date), class: "btn btn-outline-secondary" %>
  </div>
<% end %>